<%inherit file="base.html"/>


<%def name="content()">
	<div style="text-align:center">
		<div class="title">
	    	<h2>The Punch Game</h2>
	    	${self.facebook()}
	    </div>
	    <div style="margin-top:-90px">
	        <div style="margin:0 auto; width:auto;">
	            <div class="team" style="float:left;width:50%;">
	                <div style="text-align:center;">
	                	<input class="teamA" data-width="350" data-fgColor="#336699" data-thickness=".25" data-readOnly=true value="0">
	                </div>
					<div class="participants groupA">
						<div class="participants-wr">
							<h3>TEAM A</h3>
							<div class="list"></div>
						</div>
					</div>
	            </div>
	            <div class="team" style="float:left;width:50%;">
	                <div style="text-align:center;">
	                	<input class="teamB" data-width="350" data-fgColor="#CF1D1D" data-thickness=".25" data-readOnly=true value="0">
	                </div>
	                <div class="participants groupB">
	                	<div class="participants-wr">
							<h3>TEAM B</h3>
							<div class="list"></div>
						</div>
					</div>
	            <div>
	            <div style="clear:both;"><div/>
	        </div>
	    </div>
	</div>
</%def>




<%def name="facebook()">
	<div class="fbwrapper">
		<div id="fb-auth-status" style="display:none;">
			<div id="out" style="margin-top:30px;">
				<fb:login-button size="medium" id="auth-loginlink">Connect with Facebook</fb:login-button>
			</div>
			<div id="in" style="margin-top:10px;">
				<fb:profile-pic uid="loggedinuser" size="square" width="64" height="64" linked="true" facebook-logo="true"></fb:profile-pic>
				<p class="face-name"> <fb:name useyou="false" uid="loggedinuser"></fb:name> </p>
			</div>
		</div>
	</div>
</%def>




<%def name="javascript()">
	<script src="http://connect.facebook.net/en_US/all.js">
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/jquery.knob-1.1.1.js"></script>
	<script src="/static/js/shake.js"></script>
	<script src="/static/js/punchgame.js"></script>
	<script src="/static/js/socket.io.js"></script>
</%def>
